* {
    box-sizing: border-box;
}

.header {
    margin-top: 10px;
}

.header-el {
    display: inline-block;
    margin: 10px
}

#header-name {
    display: inline-block;
    width:40%;
    text-align: left;
    margin-left: 5%;
    margin-right: 0px
}

.header-three {
    width:40%;
    display: inline-block;
    text-align: right;
}

#veggieburger {
    display: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid gray;
    padding-top:4px
}

.line {
    margin-left: auto;
    margin-right: auto;
    width:15px;
    background-color: black;
    height:2px;
    margin-top:3px;
    border-radius: 2px
}

.sidemenuhidden {
    display: none;
}

.sidemenu {
    position: fixed;
    display: block;
}

@media only screen and (max-width: 600px) {
    .header-el {
        display: none;
    }

    #veggieburger {
        display: inline-block;
    }
}