* {
    box-sizing: border-box;
    color: white;
    font-weight: 400
}

.header {
    width:100%;
    vertical-align: top;
    position:fixed;
    left:0;
    top:0;
    z-index: 1000;
    background-color: rgb(175, 201, 225, .2)
}

.headercol {
    width:60%;
    display: inline-block;
    vertical-align: top;
    position:fixed;
    left:0;
    top:0;
    z-index: 1000;
}

.header-el {
    display: inline-block;
    margin: 10px
}

#header-name {
    display: inline-block;
    width:40%;
    text-align: left;
    margin-left: 5%;
    margin-right: 0px
}

.header-three {
    width:40%;
    display: inline-block;
    text-align: right;
}

#veggieburger {
    display: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid gray;
    padding-top:4px
}

.line {
    margin-left: auto;
    margin-right: auto;
    width:15px;
    background-color: black;
    height:2px;
    margin-top:3px;
    border-radius: 2px
}

.sidemenuhidden {
    display: none;
}

.sidemenu {
    display: inline-block;
    width:40%;
    height:200px;
    padding:15px;
    border-radius:5px;
    background-color:lightgreen;
    height: 100vh
}

@media only screen and (max-width: 600px) {
    .header-el {
        display: none;
    }

    #veggieburger {
        display: inline-block;
    }
}